.idea
ObjectiveDDP.xcworkspace/xcuserdata
ObjectiveDDP.xcworkspace/xcshareddata/
Example/Example.xcworkspace/xcuserdata/
Example/Example.xcworkspace/xcshareddata/
Example/Example.xcodeproj/xcuserdata
Example/Pods
build
